@font-face {
  font-family: 'Archivo';
  src: url('/src/assets/fonts/Archivo-Regular.ttf') format('truetype');  
  font-weight: 400;
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/assets/fonts/Archivo-Medium.ttf') format('truetype');  
  font-weight: 500;
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/assets/fonts/Archivo-Bold.ttf') format('truetype');  
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-block py-4 px-6 bg-zinc-950 text-white text-sm font-medium rounded shadow-md hover:bg-zinc-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

body{
  font-family: 'Archivo';
  font-weight: 400;
}

h1{
  font-family: 'Archivo';
  font-weight: 700;
  margin-block-end: .20em;
}

p{
  font-weight: 500;
  margin-block-end: .5em;
  line-height: 1.4;
  @apply text-sm text-gray-600 lg:text-base;
}

.lista-marcas > *{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
